<header>
  <div class="container header-container">
    <div class="logo">Tech<span class="blue-highlight">Support</span></div>
    <div class="mobile-menu-icon">
       <div class="line1"></div>
       <div class="line2"></div>
       <div class="line3"></div>
      </div>
    <ul class="nav-menu">
      <li><a href="/">Home</a></li>
      <li><a href="sobre">Sobre Nós</a></li>
      <li><a href="#servicos">Serviços</a></li>
      <li><a href="atendimento">Atendimento</a></li>
      <li><a href="contato">Contato</a></li>
    </ul>
  </div>
</header>
<script defer>
class MobileNavbar {
    constructor(mobileMenu, navList, navLinks) {
        this.mobileMenu = document.querySelector(mobileMenu);
        this.navList = document.querySelector(".nav-menu"); // Correto

        this.navLinks = document.querySelectorAll(navLinks);
        this.activeClass = "active";

        this.handleClick = this.handleClick.bind(this);
    }

  
    animateLinks() {
      this.navLinks.forEach((link, index) => {
        link.style.animation
          ? (link.style.animation = "")
          : (link.style.animation = `navLinkFade 0.5s ease forwards ${
              index / 7 + 0.3
            }s`);
      });
    }
  
    handleClick() {
    this.navList.classList.toggle(this.activeClass);
    this.mobileMenu.classList.toggle(this.activeClass);
    this.animateLinks();

    if (this.navList.classList.contains(this.activeClass)) {
        document.body.style.overflow = "hidden";
    } else {
        document.body.style.overflow = "auto";
    }
}

  
    addClickEvent() {
      this.mobileMenu.addEventListener("click", this.handleClick);
    }
  
    init() {
      if (this.mobileMenu) {
        this.addClickEvent();
      }
      return this;
    }
  }
  
  const mobileNavbar = new MobileNavbar(
    ".mobile-menu-icon", 
    ".nav-menu",
    ".nav-menu li"
);

  mobileNavbar.init();
</script>

