<header>
    <div class="container header-container">
        <div class="logo">Tech<span class="blue-highlight">Support</span></div>
        <ul class="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="sobre">Sobre Nós</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="atendimento">Atendimento</a></li>
            <li><a href="contato">Contato</a></li>
        </ul>
        <div class="contact-info">
            <span>(21) 3355-0000</span>
            <div class="search-icon">🔍</div>
        </div>
    </div>
</header>
